[Desktop Entry]
Type=Application
Terminal=false
Name=haptixLukeLeftStart
Icon=/usr/share/icons/haptix/gazebo.ico
Exec=bash -i /usr/bin/haptixLukeLeftStart
