#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=true
Name=haptixUpdate
Icon=/usr/share/icons/haptix/osrf_logo_white.png
Exec=haptixUpdate
